In [1]:
import pandas as pd

In [2]:
file = r'/Users/georgekeiter/Desktop/python/okogie23regseason.csv'

In [3]:
df = pd.read_csv(file)

In [4]:
df = df[['GS', 'MP', 'TRB']]

In [5]:
df_6th_man = df[(df['GS'] == 0) & (df['MP'] > 12)]

In [6]:
df_6th_man

    GS  MP  TRB
1    0  14    3
7    0  16    3
14   0  13    5
16   0  14    2
18   0  26   11
19   0  27    2
20   0  23    7
21   0  13    2
23   0  20    6
24   0  25   11
25   0  23    6
27   0  24    4
29   0  26    6
30   0  21    4
35   0  24    5
36   0  24    9
37   0  20    3
39   0  34   10
40   0  13    3
41   0  24    7
45   0  15    2
46   0  32    4

In [7]:
df_starter = df[(df['GS'] == 1) & (df['MP'] > 12)]

In [8]:
df_starter

    GS  MP  TRB
47   1  36    6
48   1  39    6
49   1  41    5
50   1  32    7
51   1  33    7
52   1  33    3
53   1  32    4
54   1  22    1
55   1  21    4
56   1  35    1
57   1  32    3
58   1  35    7
59   1  30    4
60   1  21    3
61   1  20    3
62   1  20    4
63   1  25    1
64   1  22    2
65   1  33    9
66   1  29    5
67   1  26    3
68   1  20    4
69   1  22    3
70   1  30    6
71   1  31    7

In [9]:
df_pt = df[df['MP'] > 12]

In [10]:
df_pt

    GS  MP  TRB
1    0  14    3
7    0  16    3
14   0  13    5
16   0  14    2
18   0  26   11
19   0  27    2
20   0  23    7
21   0  13    2
23   0  20    6
24   0  25   11
25   0  23    6
27   0  24    4
29   0  26    6
30   0  21    4
35   0  24    5
36   0  24    9
37   0  20    3
39   0  34   10
40   0  13    3
41   0  24    7
45   0  15    2
46   0  32    4
47   1  36    6
48   1  39    6
49   1  41    5
50   1  32    7
51   1  33    7
52   1  33    3
53   1  32    4
54   1  22    1
55   1  21    4
56   1  35    1
57   1  32    3
58   1  35    7
59   1  30    4
60   1  21    3
61   1  20    3
62   1  20    4
63   1  25    1
64   1  22    2
65   1  33    9
66   1  29    5
67   1  26    3
68   1  20    4
69   1  22    3
70   1  30    6
71   1  31    7

In [11]:
df_pt['TRB'].mean()

4.74468085106383

In [12]:
df_pt['TRB'].std()

2.5406956006299

In [13]:
true_6o = (df_pt['TRB'] > 5.5).sum() / len(df_pt['TRB'])

In [14]:
true_4o = (df_pt['TRB'] > 3.5).sum() / len(df_pt['TRB'])

In [15]:
fd_4 = 2.26
fd_6 = 5.6
pfd_4 = 1 / fd_4
pfd_6 = 1 / fd_6

In [16]:
edge_6 = (true_6o - pfd_6) / pfd_6
edge_4 = (true_4o - pfd_4) / pfd_4

In [17]:
edge_4

0.3944680851063829

In [18]:
edge_6

1.025531914893617

In [19]:
bankroll = 2500

In [20]:
k_4 = (((1 - fd_4) * true_4o) - (1 - true_4o)) / (1 - fd_4)

In [21]:
k_6 = (((1 - fd_6) * true_6o) - (1 - true_6o)) / (1 - fd_6)

In [22]:
bankroll * k_4

2302.4316109422493

In [23]:
bankroll * k_6

1251.1563367252545

In [24]:
(2345 / 3720) * 250

157.59408602150538

In [25]:
true_4o

0.6170212765957447

In [26]:
true_6o

0.3617021276595745

In [27]:
pfd_4

0.4424778761061947

In [28]:
pfd_6

0.17857142857142858

In [29]:
df['rpm'] = df['TRB'] / df['MP']

In [30]:
rpm = df['TRB'].sum() / df['MP'].sum()

In [31]:
rpm

0.1873134328358209

In [32]:
rpm*19

3.558955223880597

In [33]:
df_starter['TRB'].sum() / len(df_starter['TRB'])

4.32